.header__lang-link_active {
  position: relative;
}

.header__lang-link_active::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 0;
}
