.intro__list {
  margin: 2rem 0 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.125rem;
  list-style: none
}

@media screen and (max-width: 320px) {
  .intro__list {
    margin: 2.25rem 0 0;
  }
}
