.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.125rem;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 540px) {
  .footer__link {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

