.place__paragraph {
  margin: 0 0 1.625rem 0;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.835rem;    /* or 29px */
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: calc(0.95rem + (100vw - 320px) / (768 - 320));
    line-height: 1.625rem;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    padding: 0 1rem;
  }
}
