.place__link {
  position: relative;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
}

.place__link:hover {
  opacity: 0.8;
}

.place__link::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 1px;
  border-bottom: 2px solid #FFFFFF;
}

@media screen and (max-width: 425px) {
  .place__link {
    margin: 0 1rem;
  }
}
