.place__link {
  position: relative;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;   /* identical to box height, or 122% */
  text-decoration: none;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 0.8;
}

.place__link::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 425px) {
  .place__link {
    margin: 0 1rem;
  }
}
