.cover__subtittle {
  max-width: 22.5rem;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: calc(22 / 18);   /* or 122% */
  margin: 2rem auto 0;
  color: #FFFFFF;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .cover__subtittle {
    margin: calc(1rem + (100vw - 320px) / (768 - 320) * (32 - 16)) auto 0;
    font-size: calc(0.875rem + (100vw - 320px) / (768 - 320) * (18 - 14));
  }
}
