.place__url-heading {
  margin: 0 0 0.75rem 0;
  padding: 0;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 0.75rem;   /* identical to box height, or 100% */
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media screen and (max-width: 425px) {
  .place__url-heading {
    padding: 0 1rem;
  }
}
